<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Monefy App Test Suite">
  <test name="Monefy App Testing Run 1">
      <parameter name="income" value="150.50" />
      <parameter name="incomeCategory" value="savings" />
      <parameter name="expense1" value="65.25" />  
      <parameter name="expenseCategory1" value="taxi" />
      <parameter name="expense2" value="15.15" />  
      <parameter name="expenseCategory2" value="pets" />
      <classes>
         <class name="test.monefy.TestMonefyApp" />
      </classes>
   </test>
   <test name="Monefy App Testing Run 2">
      <parameter name="income" value="75.50" />
      <parameter name="incomeCategory" value="deposits" />
      <parameter name="expense1" value="65.25" />  
      <parameter name="expenseCategory1" value="house" />
      <parameter name="expense2" value="15.35" />  
      <parameter name="expenseCategory2" value="bills" />
      <classes>
         <class name="test.monefy.TestMonefyApp" />
      </classes>
   </test>
</suite> <!-- Suite -->
